<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.PCAMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.PCA">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pid" jdbcType="INTEGER" property="pid" />
    <result column="district_name" jdbcType="VARCHAR" property="districtName" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="hierarchy" jdbcType="INTEGER" property="hierarchy" />
    <result column="district_sqe" jdbcType="VARCHAR" property="districtSqe" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, district_name, type, hierarchy, district_sqe
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from p_c_a
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from p_c_a
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.PCA">
    insert into p_c_a (id, pid, district_name, 
      type, hierarchy, district_sqe
      )
    values (#{id,jdbcType=INTEGER}, #{pid,jdbcType=INTEGER}, #{districtName,jdbcType=VARCHAR}, 
      #{type,jdbcType=INTEGER}, #{hierarchy,jdbcType=INTEGER}, #{districtSqe,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.PCA">
    insert into p_c_a
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pid != null">
        pid,
      </if>
      <if test="districtName != null">
        district_name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="hierarchy != null">
        hierarchy,
      </if>
      <if test="districtSqe != null">
        district_sqe,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pid != null">
        #{pid,jdbcType=INTEGER},
      </if>
      <if test="districtName != null">
        #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="hierarchy != null">
        #{hierarchy,jdbcType=INTEGER},
      </if>
      <if test="districtSqe != null">
        #{districtSqe,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.PCA">
    update p_c_a
    <set>
      <if test="pid != null">
        pid = #{pid,jdbcType=INTEGER},
      </if>
      <if test="districtName != null">
        district_name = #{districtName,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="hierarchy != null">
        hierarchy = #{hierarchy,jdbcType=INTEGER},
      </if>
      <if test="districtSqe != null">
        district_sqe = #{districtSqe,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.PCA">
    update p_c_a
    set pid = #{pid,jdbcType=INTEGER},
      district_name = #{districtName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      hierarchy = #{hierarchy,jdbcType=INTEGER},
      district_sqe = #{districtSqe,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="queryProList" resultMap="BaseResultMap">
    SELECT * FROM p_c_a WHERE pid=1
  </select>

  <select id="getListByProName" parameterType="int" resultMap="BaseResultMap">
    SELECT * FROM p_c_a WHERE pid=#{id}
  </select>
</mapper>