<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.mapper.TAddressMapper">
  <resultMap id="BaseResultMap" type="com.qf.entity.TAddress">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shouhuoren" jdbcType="VARCHAR" property="shouhuoren" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address_desc" jdbcType="VARCHAR" property="addressDesc" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="isdefault" jdbcType="VARCHAR" property="isdefault" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shouhuoren, phone, province, city, area, address_desc, userid, isdefault
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qf.entity.TAddress">
    insert into t_address (id, shouhuoren, phone, 
      province, city, area, 
      address_desc, userid, isdefault
      )
    values (#{id,jdbcType=INTEGER}, #{shouhuoren,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{area,jdbcType=VARCHAR}, 
      #{addressDesc,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, #{isdefault,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qf.entity.TAddress">
    insert into t_address
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shouhuoren != null">
        shouhuoren,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="addressDesc != null">
        address_desc,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="isdefault != null">
        isdefault,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shouhuoren != null">
        #{shouhuoren,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="addressDesc != null">
        #{addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null">
        #{isdefault,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qf.entity.TAddress">
    update t_address
    <set>
      <if test="shouhuoren != null">
        shouhuoren = #{shouhuoren,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="addressDesc != null">
        address_desc = #{addressDesc,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="isdefault != null">
        isdefault = #{isdefault,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qf.entity.TAddress">
    update t_address
    set shouhuoren = #{shouhuoren,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      area = #{area,jdbcType=VARCHAR},
      address_desc = #{addressDesc,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      isdefault = #{isdefault,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>